# NODE_ONE, NODE_TWO: node name, example:
NODE_ONE="qf-master1"
NODE_TWO="qf-worker1"

# KUBE_CONFIG_ONE, KUBE_CONFIG_TWO: kube-config path, multi-cluster both required, if single-cluster, only KUBE_CONFIG_ONE needed, example:
KUBE_CONFIG_ONE="/root/.kube/config"
KUBE_CONFIG_TWO="/root/.kube/config"

# POD_NAME: pod name, example:
POD_NAME_PREFIX="sriov-standalone"

# POD_ANNO: pod annotations, example:
POD_ANNO=("v1.multus-cni.io/default-network: kube-system/sriov-standalone-vlan100"
          "ipam.spidernet.io/subnets: '[{"'"interface"'":"'"eth0"'","'"ipv4"'":["'"'default-v4-subnet'"'"],"'"ipv6"'":["'"'default-v6-subnet'"'"]}]'"
          )

# POD_RESOURCES_REQUESTS: pod resources request, example:
POD_RESOURCES_REQUESTS=("intel.com/sriov_netdevice_enp0: '1'"
                        "cpu: 50m"
                        )

# POD_RESOURCES_LIMITS: pod resources limits, example:
POD_RESOURCES_LIMITS=("intel.com/sriov_netdevice_enp0: '1'"
                      "cpu: 50m"
                      )

# DURATION: time in seconds to transmit for, such as 5, the default value is 10, example
DURATION="5"

# IPERF_ENABLED
IPERF_ENABLED="true"

# NETPERF_ENABLED
NETPERF_ENABLED="true"